.search{
    display: flex;
    width: 100%;
    width: 700px;
    height: 60px;
    background-color: #606060;
}
.vector-search-box-input {
    margin-left: 60px;
    background-color: rgba(255, 255, 255, 0.8); /* Больше прозрачности */
    border: 1px solid #a7d7f9; /* Светло-голубая рамка */
    color: #0b0bbe; /* Темно-синий цвет текста */
    border-radius: 4px; /* Округленные углы для современного стиля */
    padding: 5px 30px; /* Внутренний отступ для удобства */
    height: 2.6em; /* Чуть увеличена высота */
    transition: background-color 0.3s ease; /* Плавный переход фона при фокусе */
}

.vector-search-box-input:focus {
    background-color: #fff; /* Полностью белый фон при фокусе */
    border-color: #0b0bbe; /* Более контрастная рамка при фокусе */
}
.searchButton {
    width: 90px;
    height: 36px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: 1px solid #a7d7f9;
    
}
/* Стили для мобильных устройств */
@media (max-width: 767px) {
    .search {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .vector-search-box-input {
        flex: 1;
        margin-left:-5px;
    }

    .searchButton {
        width: 90px;
    }
}

/* Стили для планшетов */
@media (min-width: 768px) and (max-width: 1024px) {
    .search {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vector-search-box-input {
        flex: 1;
        margin-right: 15px;
    }

    .searchButton {
        width: 110px;
    }
}

/* Стили для десктопов */
@media (min-width: 1025px) {
    .search {
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vector-search-box-input {
        flex: 1;
        margin-right: 20px;
    }

    .searchButton {
        width: 120px;
    }
}